<% content_for :breadcrumb do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item"><%= link_to 'Articles', articles_path %></li>
      <li class="breadcrumb-item active" aria-current="page">Editing <%= @article.title %></li>
    </ol>
  </nav>
<% end %>

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded box-shadow">
  <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
  <div class="lh-100">
    <h5 class="mb-0 text-white lh-100">Editing Article</h5>
    <small>Informational text here</small>
  </div>
</div>

<div class="my-3 p-4 bg-white rounded box-shadow">
  <div class="border-bottom pb-2 mb-4">
    <h5 class="float-left">
      <%= @article.title %>
    </h5>
    <small>
    <%= link_to 'Cancel', :back, class: "float-right text-uppercase font-weight-light" %>
    </small>
    <div class="clearfix"></div>
  </div>

  <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with(model: @article, local: true, class: "needs-validation") do |form| %>
    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="title" class="">Title</label>
        <%= form.text_field :title, class: "form-control", placeholder: "The title" %>
        <small class="text-muted">Title of the article</small>
        <div class="invalid-feedback">
          Title is required.
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <label for="text" class="">Text</label>
        <%= form.text_area :text, class: "form-control", placeholder: "The text" %>
        <small class="text-muted">Text of the article</small>
        <div class="invalid-feedback">
          Text is required.
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <%= form.submit "Save", class: 'btn btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-sm btn-link' %>
    </div>
  </form>
<% end %>
