<% content_for :breadcrumb do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item"><%= link_to 'Articles', articles_path %></li>
      <li class="breadcrumb-item active" aria-current="page">New</li>
    </ol>
  </nav>
<% end %>

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded box-shadow">
  <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
  <div class="lh-100">
    <h5 class="mb-0 text-white lh-100">New Article</h5>
    <small>Informational text here</small>
  </div>
</div>

<div class="my-3 p-4 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0">
    New Article
  </h6>

  <br/>

  <%= form_with(model: @article, local: true) do |form| %>

    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="title" class="text-muted text-small font-weight-light small">Title</label>
        <%= form.text_field :title, class: "form-control", placeholder: "The title" %>
        <div class="invalid-feedback">
          Title is required.
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <label for="text" class="text-muted text-small font-weight-light small">Text</label>
        <%= form.text_area :text, class: "form-control", placeholder: "The text" %>
        <div class="invalid-feedback">
          Text is required.
        </div>
      </div>
    </div>
    <hr/>
    <div>
      <%= form.submit "Save", class: 'btn btn-primary' %>
      <%= link_to 'Back', :back, class: 'btn btn-sm btn-link' %>
    </div>
  </form>
<% end %>
