<% content_for :breadcrumb do %>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><%= link_to 'Home', root_path %></li>
      <li class="breadcrumb-item"><%= link_to 'Articles', articles_path %></li>
      <li class="breadcrumb-item active" aria-current="page"><%= @article.title %></li>
    </ol>
  </nav>
<% end %>

<div class="d-flex align-items-center p-3 my-3 text-white-50 bg-primary rounded box-shadow">
  <img class="mr-3" src="https://getbootstrap.com/assets/brand/bootstrap-outline.svg" alt="" width="48" height="48">
  <div class="lh-100">
    <h5 class="mb-0 text-white lh-100"><%= @article.title %></h5>
    <small>Informational text here</small>
  </div>
</div>

<div class="my-3 p-4 bg-white rounded box-shadow">
  <%= form_with(model: @article, local: true, class: "needs-validation") do |form| %>
    <div class="border-bottom pb-2 mb-4">
      <h5 class="float-left">
        <%= @article.title %>
      </h5>
      <small>
      <%= link_to 'Edit', edit_article_path(@article), class: "float-right text-uppercase font-weight-light" %>
      </small>
      <div class="clearfix"></div>
    </div>

    <div class="row">
      <div class="col-sm-6 mb-3">
        <label for="title" class="">Title</label><br/>
        <span class="form-control-plaintext">
        <%= @article.title %>
        </span>
      </div>

      <div class="col-sm-6 mb-3">
        <label for="text" class="">Text</label>
        <span class="form-control-plaintext">
        <%= simple_format(@article.text) %>
        </span>
      </div>
    </div>

    <hr/>
    <div>
      <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-primary' %>
      <%= link_to 'Back', articles_path, class: 'btn btn-sm btn-link' %>
    </div>
  <% end %>
</div>