<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="bg-light">
    <div class="container">    

      <% flash.each do |name, msg| %>
        <%= content_tag(:div, class: "alert alert-#{name=='notice' ? 'success': name}") do%>
            <%=msg%>
            <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%end%>
      <% end %>

      <%= yield %>
    </div>
  </body>
</html>
